.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 90%;
    height: 25%;
    margin: 10px 0px;

    border: 1px solid black;
}

.image {
    border: 1px solid black;
    height: 86px;
    width: 20%;
    /* background-image: url('../../assets/images/pulseras.jpg'); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.text {
    border: 1px solid black;
    height: 100%;
}

.cantidad {
    border: 1px solid black;
    height: 100%;
    width: 15%;
}

.precio {
    border: 1px solid black;
    height: 100%;
    width: 15%;

}

.eliminar {
    position: relative;
    right: -4px;
    top: -40px;
    border: 1px solid black;
}

@media (min-width: 820px) {
    .container {
        width: 70%;
        height: 100px;
    }

    .image {
        height: 100px;
    }
}