.contenedor{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.contenedorInfo{
  display: flex;
  flex-direction: column;
  margin: 100px;
  background-color: blue;
  border: 5px black solid;
  border-radius: 30px;
  padding: 20px;
  height: fit-content;
}

.informacion{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  /* background-color: wheat; */
  width: 100%;
  height: 300px;
}

.aux{
  display: flex;
  flex-direction: row;
  justify-content: left;
}
  /* Asegúrate de que la clase ulForm tenga mayor especificidad que ul y li */
.ulForm {
    width: 100px;
    height: 100px;
    cursor: pointer;
    list-style: none;
    float: left;
    text-decoration: none;
    position: relative;
    transition: all .2s ease;
  }
  
  .liForm {
    float: left;
    text-decoration: none;
    position: relative;
    display: none;
  }
  
  /* Asegúrate de que la clase ulForm tenga mayor especificidad que ul y li en el hover */
  .ulForm:hover > .liForm {
    display: block;   
  }
  
  

