.container{
    /* margin-top: 70px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 86.5vh;
}

/* .container > .fondo1 */
.fondo1{
    position: absolute;
    z-index: 900;
    width: 1536px;
    /* filter: drop-shadow(10px 10px 20px rgb(0, 0, 0)) */
}

.fondo2{
    position: absolute;
    width: 1536px;
    top: 20px;
    z-index: 800;
    /* filter: drop-shadow(10px 10px 20px rgb(0, 0, 0)) */

}

.formulario{
    z-index: 999;
    margin-top: 50px;
}

.logo{
    width: 50%;
    z-index: 1000;
    margin-top: 35px;
}