.container{
    width: 260px;
    height: 300px;
    border: solid 1px rgb(186, 178, 178);
    border-radius: 5px;
    background-color: white;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img{
    width: 95%;
    height: 150px;
    object-fit: contain
}

.titulo {
}
/* .contenedorEstado{
    
} */