.contenedor{
    display: flex;
    flex-direction: column;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}

.aux{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: rgb(249, 245, 245);
    border: 3px black solid;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
}