.contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.estrellas{
    display: flex;
    flex-direction: row;
}
.apagado{
    filter: invert();
}