.container {
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    align-items: center;
    text-align: center;
    height: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.sesion {
    display: none;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
    margin: 0;
}

.options::ntn-child(1) {
    position: relative;
    top: 0;
}

.nav_text {
    display: none;
    align-items: center;
    flex-wrap: wrap;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: black;
    color: aliceblue;
    font-size: 20px;
}

.button:hover {
    color: var(--green-color);
}

@media (min-width: 930px) {
    .options {
        display: flex;
        justify-content: space-around;
    }

    .sesion {
        display: flex;
    }

    .menu {
        display: none;
    }

    .nav_text {
        display: flex;
    }
}


.texto {
    margin-bottom: 5px;
    height: 15px;
}

.icono {
    margin: 0;
    height: 30px;
}

.link {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.logIn {
    /* filter: invert(); */
    width: 40px;
    height: 40px;
    margin-top: 8px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 400px;
}



.menuDesplegable {
    position: absolute;
    top: 100%;
    right: 185px;
    background-color: rgba(0, 0, 0, 0.575);
    /* border: 1px solid gray; */
    padding: 1rem;
    z-index: 999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.link:hover {
    color: #54b216;
}