.container {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height:60px;
    position: fixed;
    /* top: 0;
    left: 0; */
    width: 100%;
    /* z-index: 999; */
    /* margin-bottom: 0 */
}
h4{
    cursor:pointer
}
.options {
    display: none;
}
.nav_text{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;

}
.box1 {
    display: flex;
    justify-content:center;
    align-items: center;
}

.button {
    border-radius: 100px;
    padding: 8px;
    border: none;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.button:hover {
    outline: solid 1px rgb(52, 51, 51);
}

@media (min-width: 820px) {
    .options {
        display: flex;
        justify-content: space-around;
    }

    .menu {
        display: none;
    }
}


.texto {
    height: 20px;
    margin-top: 22px;
}

.icono {
    height: 40px;
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 14px;
}

.link {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}