.container {
    display: inline-flex;
    margin: 100px;
    height: auto;
    border: solid 1px rgb(186, 178, 178);
    border-radius: 20px;
    background-color: white;
    border: solid 1px black
}

.box1 {
    flex-direction: column;
    display: inline-flex;
    width: 50%;
    height: auto;
    border-right: solid 1px rgb(186, 178, 178);
}

.box1 img {
    width: 60%;
    height: auto;
    object-fit: contain;
}

.box2 {
    width: 50%;
    /* display: inline-flex; */
}

.btn{
    margin-bottom: 15px;
}

.btn button {
    background-color: black;
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    font-size: 20px;
    color: white;
}