.container {
    display: inline-flex;
    margin: 100px;
    border: solid 1px rgb(186, 178, 178);
    border-radius: 20px;
    background-color: white;
}

.box1 {
    width: 50%;
    height: 50%;
    border-right: solid 1px rgb(186, 178, 178);
}

.box1 img {
    width: 60%;
    height: 60%;
}

.box2 {
    width: 50%;
}



.btn button {
    background-color: black;
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    font-size: 20px;
    color: white;
}