.container {
    min-height: 100vh;
    margin-top: 100px;
    padding: 30px;
    border: solid 1px rgb(154,154,154);
    width: 80%;
    background-color: white;
}

.image {
    width: 100%;
    height: 360px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.precios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.valor_normal {
    color: gray;
    font-weight: 400;
    text-decoration: line-through;
    margin: 0px 10px;
    font-size: 22px;
}

.valor_con_descuento {
    margin: 0px 10px;
    font-size: 40px;
}

.valor_con_descuento:hover {
    transform: scale(1.1);
    cursor: default;
}

.buttons {
    margin: 20px 0px;
}

.descripcion_producto {
    font-weight: 500;
    font-size: 19px;
}

.condicion {
    background-color: var(--green-color);
    width: 25%;
    box-shadow: -3px 3px  rgb(0, 128, 0);
    border-bottom-left-radius: 8px;
    font-size: 25px;
    position: absolute;
    left: 0px;
    top: 0px;
}

@media (min-width: 820px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* .condicion {
        width: 17%;
        left: 40px;
        top: 150px;
        border-bottom-left-radius: 0px;
        box-shadow: -3px -3px green;
    } */

    .image {
        width: 100%;
        height: 500px;
        object-fit: cover;
        margin-right: 10px;
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
        border-radius: 8px;
    }
}
.box1{
    display: flex;
    justify-content: center;
}

.box2{
    display: flex;
    justify-content: center;
}

.box2Hijo{
    background-color: white;
    border: solid 1px rgb(154,154,154);
    margin: 20px;
    width: 80%;
}